body {
  background: #eee;
  font-family: Arial;
}

#texts {
  font-family: 'Work Sans';
  font-size: 60px;
  width: 400px;
  margin: 0 auto;
}

p {
  color: navy;
  padding: 10px;
  text-align: center;
}

.fooled {
  font-style: italic;
  font-size: 12px;
}
